@import 'styles/variables.scss';

.nav {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  border-right: solid 1px $color-dark-grey;
  height: 100vh;

  &--title {
    margin-top: 50px;
  }

  &--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 40px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 40px 0;
      width: 55px;
      height: 55px;
      border-radius: 25px;

      &:hover {
        background: $color-light-blue;
      }
    }

    .active {
      background: $color-light-blue;
    }
  }
}
