// colors
$color-white: #ffffff;
$color-dark-grey: #393b48;
$color-light-blue: #0082f4;

// media
$device-medium: 1200px;

// fonts
$nunito-bold: 'Nunito-Bold';
$nunito-semibold: 'Nunito-SemiBold';
$nunito-regular: 'Nunito-Regular';
