@import 'styles/variables.scss';

.music--container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    width: 100%;
    font-size: 36px;
    color: $color-white;
    font-family: $nunito-bold, sans-serif;
  }

  &-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    width: 100%;
    padding: 0;
    list-style: none;

    @media (max-width: $device-medium2) {
      width: 370px;
    }

    .container--item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      border-radius: 25px;
      width: 460px;
      margin: auto;
      background: linear-gradient(
        111.21deg,
        $color-dark-grey -0.7%,
        rgba(196, 196, 196, 0) 100%,
        rgb(84, 84, 84) 100%
      );
      border: 1px solid $color-dark-grey;
      backdrop-filter: blur(15px);

      @media (max-width: $device-medium2) {
        width: 360px;
      }

      &-image {
        border-radius: 25px 0 0 25px;
      }

      &-name {
        margin-left: 25px;
        font-size: 18px;
        color: $color-white;
        font-family: $nunito-semibold, sans-serif;
      }
    }
  }
}
